<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Clothing">
    <div>
      <img src="assets/images/clothing.jpg" alt="Clothing image not found"/>
    </div>
  </mat-tab>
  <mat-tab label="Shoes">
    <img src="assets/images/clothing.jpg" alt="Clothing image not found"/>
  </mat-tab>
  <mat-tab label="Wedding">
    <img src="assets/images/clothing.jpg" alt="Clothing image not found"/>
  </mat-tab>
  <mat-tab label="Hobbies">
    <img src="assets/images/clothing.jpg" alt="Clothing image not found"/>
  </mat-tab>
</mat-tab-group>

